{% extends from 'myapp/myapp_base.html' %}
{% block body %}
    <div class="mt-4 p-5 bg-dark text-white rounded">
        <h1>Welcome to the School Details Page</h1>
        <p>Name: {{school_detail.name}}</p>
        <p>Principal: {{school_detail.principal}}</p>
        <p>Location: {{school_detail.location}}</p>
        <h3>
           Students: 
        </h3>
        {% for student in school_detail.students.all %}
            <p>{{student.name}} who is {{student.age}} years old</p>
        {% endfor %}
    </div>
  
{% endblock %}